<div class="min-h-screen">
  <nav class="w-full">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex items-center">
      <!-- Left side image -->
      <img src="assets/logo.png"
           alt="Logo"
           class="h-20 w-auto">

      <!-- Right side text -->
      <div class="ml-4 flex flex-col justify-center text-white">
        <p class="text-6xl teko-add font-bold">Fyle Frontend Challenge</p>
        <p class="text-m text-gray-100 text-center nanum-pen-script-regular">~ Rishit Tiwari</p>
      </div>
    </div>
  </nav>

  <main class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
      <!-- Sidebar with Form -->
      <div class="lg:col-span-4">
        <div class="sticky top-8">
          <app-workout-form></app-workout-form>
        </div>
      </div>

      <!-- Main Content -->
      <div class="lg:col-span-8 space-y-8">
        <div class="space-y-8">
          <app-workout-list></app-workout-list>
        </div>
        <div class="mt-8">
          <app-workout-chart></app-workout-chart>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-center text-white text-sm py-4">
    Built by Rishit Tiwari ❤️
  </footer>
</div>
